{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 - 목록</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>

</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <strong>Study Dream</strong>
                <div class="row">
                    <div class="col-auto mr-auto"></div>
                    <div class="col-auto">
                        <a class="btn btn-dark" role="button">안녕하세요, {{ user.username }} 님</a>
                        <a class="btn btn-secondary" href="{% url 'logout' %}" role="button">로그아웃</a>

                    </div>
                </div>
            </a>
        </div>
    </nav>
</header>


<div class="container">
    <h3 class="mb-3">전체 스터디 기록장</h3>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" href="/write_post" role="button">스터디 기록하기</a>
            <a class="btn btn-success" href="/ping_counter" role="button">공부 시간 카운터</a>
            <a class="btn btn-warning" href="{% url 'search' %}" role="button">검색하기</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">공부 스코어</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
        <tr class="text-center">
            <th scope="row">
                <a href="/post/{{ board.id }}">
                    <span>{{ board.id }}</span>
                </a>
            </th>
            <td>
                <a href="/post/{{ board.id }}">
                    <span>{{ board.title }}</span>
                </a>
            </td>
            <td>
                <span>{{ board.author }}</span>
            </td>
            <td>
                <span>{{ board.record_score }}</span>
            </td>
            <td>
                <span>{{ board.created_date | date:"Y-m-d h:i" }}</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
