{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>게시판 - 글쓰기</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>게시판</strong>
          </a>
        </div>
      </div>
    </header>
    <div class="container">
      <form action="/write_post" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label for="studyScore" class="col-sm-2 col-form-label"><strong>공부 스코어(공부시간)</strong></label>
<div class="col-sm-10">
    <input type="text" name="studyScore" class="form-control" id="studyScore" value="{{ record_score }}" readonly />
    <p>{{ time_difference_str }}동안 공부하셨습니다</p> <!-- 시간 차이 문자열을 추가로 표시 -->
</div>
          <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
          <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="inputTitle" />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
          <div class="col-sm-10">
            <input type="text" name="author" class="form-control" id="inputAuthor" />
          </div>
        </div>
        <div class="form-group row">
          <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
          <div class="col-sm-10">
            <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-auto mr-auto"></div>
          <div class="col-auto">
            <input class="btn btn-primary" type="submit" role="button" value="글쓰기" />
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-secondary btn-block" onclick="window.location.href='{% url 'list_page' %}'">목록으로 돌아가기</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
